@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4eeff;
  height: 95vh;
  width: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #424874;
}

h1 {
  font-weight: 800;
  text-align: center;
}

.points {
  margin: 50px;
}

.text-purple {
  color: #424874;
}

.text-blue {
  color: #a6b1e1;
}